*{
    box-sizing: content-box;
}
body{
    display: block;
    min-height: 100vh;
    margin:0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(240, 255, 240);
}
.btn{
    background: none;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(113, 141, 113);
    transition: all 0.5s;
}
.btn:hover:enabled,.btn:active:enabled{
    background-color: rgb(64, 79, 64);
    box-shadow: 0 3px 3px black;
}